<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.PineappleStore.dao.OrderReturnMapper">

    <resultMap id="BaseResultMap" type="com.PineappleStore.entity.OrderReturn">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="orderReturnDict" column="order_return_dict" jdbcType="INTEGER"/>
        <result property="orderReturn" column="order_return" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="DATE"/>
        <result property="returnExa" column="return_exa" jdbcType="INTEGER"/>
        <result property="returnExaTime" column="return_exa_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,order_return_dict,create_time,order_return
    </sql>
    <update id="updateOrderStatus">

        update order_return
        set return_exa =2, return_exa_time=#{time}
        where order_id = #{orderId}

    </update>

    <update id="updateOrderNoStatus">

        update order_return
        set return_exa =3, return_exa_time=#{time}
        where order_id = #{orderId}

    </update>

    <select id="selectOrderReturnDesc" resultType="com.PineappleStore.entity.OrderReturn">
        select *
        from order_return
        where order_id = #{orderId}
    </select>
</mapper>
