<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplusgenerator.mapper.ShoppingCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplusgenerator.pojo.ShoppingCart">
        <id column="cart_id" property="cartId" />
        <result column="product_id" property="productId" />
        <result column="sku_id" property="skuId" />
        <result column="user_id" property="userId" />
        <result column="cart_num" property="cartNum" />
        <result column="cart_time" property="cartTime" />
        <result column="product_price" property="productPrice" />
        <result column="sku_props" property="skuProps" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cart_id, product_id, sku_id, user_id, cart_num, cart_time, product_price, sku_props
    </sql>

</mapper>
